<body class="text-center">
    
  <main class="form-signin w-100 m-auto">
    <form action="/login" method="POST">
      <img class="mb-4" src="/imagenes/Logo TecNM.png" alt="" width="240" height="120">
      <h1 class=" mb-3 fw-normal">Laboratorio de Computaci칩n</h1>
      <h1 class="h3 mb-3 fw-normal">Iniciar sesi칩n</h1>
      <div class="form-floating">
        <input type="text" class="form-control" name="username" placeholder="usuario" autofocus required>
        <label for="floatingInput">Usuario</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
        <label for="floatingPassword">Contrase침a</label>
      </div>

      <div class="checkbox mb-3">
        <br>
      </div>
      <button class="w-100 btn btn-lg btn-primary">Iniciar sesi칩n</button>
    </form>
  </main>
</body>
<link href="/estilos/login.css" rel="stylesheet">