<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-5 rounded-5 container w-100">
        <form method="POST" action="/materias">
            <div class="row g-5">
                    <h4 class="fw mb-3 text-uppercase">Listado de Departamentos</h4>
                    <div class="col-sm-10">
                        <label for="campo" class="form-label">Buscar departamento</label>
                        <input type="text" class="form-control" name="campo" placeholder="" value="">
                        
                    </div>
                    <div class="col"><br><a class="btn btn-primary" href="">Buscar</a></div>
                        
                </div>

        </form>

            <div class="bg-white p-5 rounded-5 container">
    <table class="table table-primary table-responsive">
        <thead class="table-dark">
            <tr>
                <th scope="col" class="text-center">Clave </th>
                <th scope="col" class="text-center">Departamento</th>
                <th scope="col" class="text-center">Elminar</th>
            </tr>
        </thead>
        <tbody>
                {{#each departamentos}}
                        <tr>
                                <td class="text-center" scope="row">{{iddepto}}</td>
                                <td class="text-center">{{departamento}}</td>
                                <td class="text-center"><a class="btn btn-danger" href="departamentos/eliminar/{{iddepto}}"><i class="bi bi-trash3"></i></a></td>
                        </tr>

                {{else}}
                    <div class="alert alert-warning text-center" role="alert">
                         No se encontraron registros
                    </div>
                 {{/each}} 
            
        </tbody>
</table> 