<body class="bg-dark d-flex justify-content-center align-items-center">
    <div class="bg-white p-5 rounded-5 container vh-100">
                    <h3 class="fw mb-3 text-uppercase text-center">Listado de Departamentos</h3>
                    <hr>
                    <table class="table table-primary table-responsive table-sm table-striped" id="tabla">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col" class="text-center">Clave </th>
                                    <th scope="col" class="text-center">Departamento</th>
                                    <th scope="col" class="text-center">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{#each departamentos}}
                                    <tr>
                                            <td class="text-center" scope="row">{{iddepto}}</td>
                                            <td class="text-center">{{departamento}}</td>
                                            <td class="text-center"><a class="btn btn-danger" href="departamentos/eliminar/{{iddepto}}"><i class="bi bi-trash3"></i></a></td>
                                    </tr>

                            {{else}}
                                <div class="alert alert-warning text-center" role="alert">
                                    No se encontraron registros
                                </div>
                            {{/each}}            
                        </tbody>
                    </table>  
        </div>
</body>
