<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-5 rounded-5 container">
      <h2 class="text-center fw mb-2 text-uppercase">Grupos y materias</h2>
        <h4 class="fw mb-3 text-uppercase">Agregar carrera</h4>
        <form class="needs-validation" action="" method="POST">
            <h5 class="fw mb-2">Ingresa los datos de la carrera</h5>
            <div class="row row-cols-2">            
                    <div class="mb-3">
                        <label for="alias" class="form-label">Alias: </label>
                         <input type="text" class="form-control" name="alias" placeholder="" value="" required onkeyup="this.value = this.value.toUpperCase();">
                        <div id="nocontrolHelp" class="form-text">Ingrese un alias para la carrera.</div>
                    </div>

                    <div class="mb-3">
                        <label for="carrera" class="form-label">Carrera: </label>
                        <input type="text" class="form-control" name="carrera" placeholder="" value="" required onkeyup="this.value = this.value.toUpperCase();">
                        <div id="carreraHelp" class="form-text">Ingrese el nombre completo de la carrera.</div>
                    </div>

                    <div class="mb-3">
                        <label for="idcarrera" class="form-label">Carrera: </label>
                        <select class="form-select" name="idcarrera" required>
                            {{#each departamentos}}
                              <option value="{{iddepto}}">{{departamento}}</option>
                            {{/each}} 
                        </select>
                        <div id="carreraHelp" class="form-text">Ingrese un departamento valido.</div>
                    </div>
                  <div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary d-flex justify-content-center">¡Listo!</button>
          </form>
    </div>
  </body>