<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-5 rounded-5 container">
      <h2 class="text-center fw mb-2 text-uppercase">Grupos y materias</h2>
        <h4 class="fw mb-3 text-uppercase">Agregar materia</h4>
        <form class="needs-validation" action="" method="POST">
            <h5 class="fw mb-2">Ingresa los datos de la materia</h5>
            <div class="row row-cols-2">            
                    <div class="mb-3">
                        <label for="clavemat" class="form-label">Clave de materia: </label>
                         <input type="text" class="form-control" name="clavemat" placeholder="" value="" required onkeyup="this.value = this.value.toUpperCase();">
                        <div id="nocontrolHelp" class="form-text">Ingrese la clave de la materia.</div>
                    </div>

                    <div class="mb-3">
                        <label for="materia" class="form-label">Materia: </label>
                        <input type="text" class="form-control" name="nombremat" placeholder="" value="" required onkeyup="this.value = this.value.toUpperCase();">
                        <div id="nombreHelp" class="form-text">Ingrese el nombre de la materia.</div>
                    </div>

                    <div class="mb-3">
                        <label for="idcarrera" class="form-label">Carrera: </label>
                        <select class="form-select" name="idcarrera" required>
                            {{#each carreras}}
                              <option value="{{IDCARRERA}}">{{CARRERA}}</option>
                            {{/each}} 
                        </select>
                        <div id="carreraHelp" class="form-text">Ingrese una carrera valida.</div>
                    </div>
                  <div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary d-flex justify-content-center">¡Listo!</button>
          </form>
    </div>
  </body>