<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-5 rounded-5 container">
      <h2 class="text-center fw mb-2 text-uppercase">Control general</h2>
        <h4 class="fw mb-3 text-uppercase">Agregar departamento</h4>
        <form class="needs-validation" action="/practicas/agregar_departamento" method="POST">
            <h5 class="fw mb-2">Ingresa los datos del departamento</h5>
            <div class="row row-cols-2">            
                    <div class="mb-3">
                        <label for="alias" class="form-label">Nombre del departamento: </label>
                         <input type="text" class="form-control" name="alias" placeholder="" value="" required onkeyup="this.value = this.value.toUpperCase();">
                        <div id="nocontrolHelp" class="form-text">Ingrese nombre del departamento.</div>
                    </div>
                   <div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary d-flex justify-content-center">¡Listo!</button>
          </form>
    </div>
  </body>