<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-5 rounded-5 container">
      <h2 class="text-center fw mb-2 text-uppercase">Control de Personal</h2>
        <h4 class="fw mb-3 text-uppercase">Registro de personal</h4>
        <form class="needs-validation" action="" method="POST">
            <h5 class="fw mb-2">Ingresa los datos del miembro que desea agregar</h5>
          <div class="row row-cols-2">            
                    <div class="sm-2">
                        <label for="clavemat" class="form-label">Número de tarjeta: </label>
                         <input type="text" class="form-control" name="notarjeta" placeholder="" value="" required onkeyup="this.value = this.value.toUpperCase();">
                        <div id="nocontrolHelp" class="form-text">Ingrese la clave del grupo.</div>
                    </div>
                    
                    <div class="sm-2">
                        <label for="clavemat" class="form-label">Nombre(s): </label>
                         <input type="text" class="form-control" name="nombre" placeholder="" value="" required onkeyup="this.value = this.value.toUpperCase();">
                        <div id="nocontrolHelp" class="form-text">Ingrese el o los nombres de la persona</div>
                    </div>

                    <div class="sm-1">
                        <label for="materia" class="form-label">Apellido paterno: </label>
                        <input type="text" class="form-control" name="apellidop" placeholder="" value="" required onkeyup="this.value = this.value.toUpperCase();">
                        <div id="nombreHelp" class="form-text">Apellido paterno de la persona</div>
                    </div>

                    <div class="sm-1">
                        <label for="idcarrera" class="form-label">Apellido materno: </label>
                        <input type="text" class="form-control" name="apellidom" placeholder="" value="" required onkeyup="this.value = this.value.toUpperCase();">
                        <div id="carreraHelp" class="form-text">Apellido materno de la persona</div>
                    </div>

                    <div class="sm-1">
                        <label for="idcarrera" class="form-label">Departamento: </label>
                        <select class="form-select" name="iddepto" required>
                            {{#each departamentos}}
                              <option value="{{iddepto}}">{{departamento}}</option>
                            {{/each}} 
                        </select>
                        <div id="carreraHelp" class="form-text">Seleccionar el departamento al que pertenece</div>
                    </div>

                    <div class="sm-1">
                        <label for="tipo" class="form-label">Tipo:</label>
                        <select class="form-select" name="tipo" onchange="tipouser()" id="tipousuario" required>
                          <option value="ADMINISTRATIVO">ADMINISTRATIVO</option>
                          <option value="PERSONAL">PERSONAL DEL LABORATORIO</option>
                          <option value="DOCENTE">DOCENTE</option>
                        </select>
                        <div id="carreraHelp" class="form-text">Seleccione el tipo de personal que se registra</div>
                    </div>

                    <div class="sm-1"></div>
                    <div class="sm-1 d-none" id="puestodiv">
                      <label for="puesto" class="form-label">Puesto: </label>
                        <select class="form-select" name="puesto" onchange="tipouser()" id="puesto" required>
                          <option value="GENERAL">ADMINISTRADOR GENERAL</option>
                          <option value="ENCARGADO">ADMINISTRADOR ENCARGADO</option>
                          <option value="AUXILIAR">ADMINISTRADOR AUXILIAR</option>
                        </select>
                        <div id="carreraHelp" class="form-text">Seleccione el puesto del personal que se registra</div>
                    </div>
            </div>
            <hr>
            <div class="row row-cols-2" id="credenciales">
              <div class="sm-1">
                        <label for="usuario" class="form-label">CURP: </label>
                         <input type="text" class="form-control" name="user" placeholder="" value="" required onkeyup="this.value = this.value.toUpperCase();">
                        <div id="nocontrolHelp" class="form-text">Ingrese la curp para establecerla como su nombre de usuario.</div>
              </div>
              <div class="sm-1">
                       <label for="pass" class="form-label">Contraseña: </label>
                         <input type="text" class="form-control" name="pass" placeholder="" value="" required>
                        <div id="passHelp" class="form-text">Ingrese la contraseña</div>
              </div>
            </div>
<br>
            <button type="submit" class="btn btn-primary d-flex justify-content-center">¡Listo!</button>
          </form>
    </div>
  </body>
<script>
  function tipouser(){
    const tipo=document.getElementById("tipousuario").value;

    if(tipo=='PERSONAL'){
       document.getElementById("puestodiv").className = "sm-1";
    } else {
      document.getElementById("puestodiv").className = "sm-1 d-none";
    }

    if(tipo=='PERSONAL' || tipo=='DOCENTE'){
       document.getElementById("credenciales").className = "sm-1";
    } else {
      document.getElementById("credenciales").className = "sm-1 d-none";
    }
  }
</script>



