<body class="bg-light">
    
<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/imagenes/inventarios.webp" alt="" width="72" height="57">
      <h2>Control de carreeras</h2>
    </div>

    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Agregar carrera</h4>
        <form class="needs-validation" novalidate action="/practicas/agregar_carrera" method="POST">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="clavemat" class="form-label">Identificador de la carrera: </label>
              <input type="text" class="form-control" name="idcarrera" placeholder="" value="" required>
              <div class="invalid-feedback">
                Se requiere una clave válida.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="reticula" class="form-label">Nombre de la carrera: </label>
              <input type="text" class="form-control" name="carrera" placeholder="" required>
              <div class="invalid-feedback">
                Introduce un dato válido.
              </div>
            </div>

            <div class="col-12">
              <label for="idcarrera" class="form-label">Departamento: </label>
               <select class="form-select" name="iddepto" required>
                  {{#each departamentos}}
                    <option value="{{iddepto}}">{{departamento}}</option>
                  {{/each}} 
              </select>
              <div class="invalid-feedback">
                Selecciona alguno de los tipos válidos, o agregar uno nuevo en caso de ser necesario. 
              </div>
            </div>

          <button class="w-100 btn btn-primary btn-lg">Registrar carrera</button>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">2022 Control de acceso al laboratorio de computo ITO</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>