<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
  <div class="album py-5 bg-dark vh-100">
    <div class="bg-white p-5 rounded-5 container">
        <a href="/home" class="d-flex" aria-current="true">
            <i class="bi-arrow-left-circle" style="font-size: 2rem; color: #000000;"></i>
        </a>
       <h4 class="text-center fw-bold mb-2 text-uppercase">menú</h4>
       <h3 class="text-center fw-bold mb-2 text-uppercase">Reportes</h3>
        <div class="list-group w-auto">
            <a href="reportes/reportesinventarios" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-pc-display" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Reportes de Inventarios</h6>
                    <p class="mb-0 opacity-65">Genera reportes sobre los inventarios</p>
                </div>
                </div>
            </a>

            <a href="" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-mortarboard-fill" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Reportes académicos</h6>
                    <p class="mb-0 opacity-65">Genera reportes sobre las materias, estudiantes, docentes, etc.</p>
                </div>
                </div>
            </a>

            <a href="" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-journal" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Reportes de prácticas</h6>
                    <p class="mb-0 opacity-65">Genera reportes sobre las prácticas.</p>
                </div>
                </div>
            </a>

            <a href="reportes/reportesusuarios" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-people" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Reportes de usuarios</h6>
                    <p class="mb-0 opacity-65">Genera reportes sobre los usuarios del sistema.</p>
                </div>
                </div>
            </a>
           
    </div>
  </div>
</body>