<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
  <div class="album py-5 bg-dark vh-100">
    <div class="bg-white p-5 rounded-5 container">
        <a href="/home" class="d-flex" aria-current="true">
            <i class="bi-arrow-left-circle" style="font-size: 2rem; color: #000000;"></i>
        </a>
       <h4 class="text-center fw-bold mb-2 text-uppercase">menú</h4>
       <h3 class="text-center fw-bold mb-2 text-uppercase">Gestión de usuarios y personal</h3>
        <div class="list-group w-auto">
            <a href="/inventarios/alumnos" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-person-rolodex  " style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Lista de estudiantes</h6>
                    <p class="mb-0 opacity-65">Visualiza las listas de estudiantes registrados</p>
                </div>
                </div>
            </a>
            <a href="/inventarios/usuarios/agregar_alumno" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-person-vcard" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Nuevo estudiante</h6>
                    <p class="mb-0 opacity-65">Agrega la información de un nuevo estudiante</p>
                </div>
                </div>
            </a>
            <a href="" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-people-fill" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Lista de usuarios</h6>
                    <p class="mb-0 opacity-65">Visualiza los registros de usuarios. </p>
                </div>
                </div>
            </a>
            <a href="" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-person-lines-fill" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Lista de personal</h6>
                    <p class="mb-0 opacity-65">Visualiza los registros del personal del laboratorio</p>
                </div>
                </div>
            </a>
    </div>
  </div>
</body>