<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
  <div class="album py-5 bg-dark vh-100">
    <div class="bg-white p-5 rounded-5 container">
    <a href="/home" class="d-flex" aria-current="true">
        <i class="bi-arrow-left-circle" style="font-size: 2rem; color: #000000;"></i>
    </a>
       <h4 class="text-center fw-bold mb-2 text-uppercase">menú</h4>
       <h3 class="text-center fw-bold mb-2 text-uppercase">inventarios</h3>
        <div class="list-group w-auto">
            <a href="/inventarios/listar_equipos" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-pc-display-horizontal" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Lista de equipos de cómputo</h6>
                    <p class="mb-0 opacity-65">Visualiza las existencias de los equipos de cómputo del laboratorio</p>
                </div>
                </div>
            </a>
            <a href="/inventarios/agregar_dispositivo" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-pc-display" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Nuevo Equipo</h6>
                    <p class="mb-0 opacity-65">Agrega un nuevo equipo de cómputo</p>
                </div>
                </div>
            </a>
            <a href="/inventarios/listar_perifericos" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-keyboard" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Lista de Insumos</h6>
                    <p class="mb-0 opacity-65">Visualiza las existencias de insumos existentes en el laboratorio.</p>
                </div>
                </div>
            </a>
            <a href="/inventarios/agregar_periferico" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-mouse2" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Nuevo Insumo</h6>
                    <p class="mb-0 opacity-65">Agrega un nuevo insumo.</p>
                </div>
                </div>
            </a>
            <a href="/inventarios/dispositivos_auxiliares" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-pc-horizontal" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Lista de dispositivos auxiliares</h6>
                    <p class="mb-0 opacity-65">Visualiza las existencias de los dispositivos auxiliares (routers, proyectores, etc.) del laboratorio</p>
                </div>
                </div>
            </a>
            <a href="/inventarios/nuevo_dispositivoaux" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-pc-horizontal" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Nuevo dispositivo auxiliar</h6>
                    <p class="mb-0 opacity-65">Agrega un nuevo dispositivo auxiliar</p>
                </div>
                </div>
            </a>
    </div>
  </div>
</body>