<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
  <div class="album py-5 bg-dark vh-100">
    <div class="bg-white p-5 rounded-5 container">
        <a href="/home" class="d-flex" aria-current="true">
            <i class="bi-arrow-left-circle" style="font-size: 2rem; color: #000000;"></i>
        </a>
       <h4 class="text-center fw-bold mb-2 text-uppercase">menú</h4>
       <h3 class="text-center fw-bold mb-2 text-uppercase">Gestión de académica</h3>
        <div class="list-group w-auto">
            <a href="/practicas/departamentos" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-collection" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Lista de departamentos</h6>
                    <p class="mb-0 opacity-65">Visualiza los diferentes departamentos del instituto.</p>
                </div>
                </div>
            </a>
            <a href="/practicas/agregar_departamento" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-bag-plus" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Nuevo departamento</h6>
                    <p class="mb-0 opacity-65">Agrega la información de un nuevo departamento.</p>
                </div>
                </div>
            </a>
            <a href="/practicas/carreras" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-mortarboard-fill" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Lista de carreras</h6>
                    <p class="mb-0 opacity-65">Visualiza las diferentes carreras del instituto</p>
                </div>
                </div>
            </a>
            <a href="/practicas/agregar_carrera" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-mortarboard" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Nueva carrera</h6>
                    <p class="mb-0 opacity-65">Agrega la información de una nueva carrera</p>
                </div>
                </div>
            </a>
            <a href="/practicas/materias" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-list-stars" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Lista de materias</h6>
                    <p class="mb-0 opacity-65">Visualiza la lista de materias existentes.</p>
                </div>
                </div>
            </a>
            <a href="/practicas/agregar_materia" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-list-stars" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Nueva materia</h6>
                    <p class="mb-0 opacity-65">Agrega una nueva materia.</p>
                </div>
                </div>
            </a>
    </div>
  </div>
</body>