<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
  <div class="album py-5 bg-dark vh-100">
    <div class="bg-white p-5 rounded-5 container">
        <a href="/menureportes" class="d-flex" aria-current="true">
            <i class="bi-arrow-left-circle" style="font-size: 2rem; color: #000000;"></i>
        </a>
       <h4 class="text-center fw-bold mb-2 text-uppercase">Reportes</h4>
       <h3 class="text-center fw-bold mb-2 text-uppercase">Dispositivos extra o auxiliares</h3>
       <hr>
       <p class="mb-0 opacity-65">Genera reportes sobre los dispositivos auxiliarea disponibles en el laboratorio</p>
       <hr>
        <div class="row row-cols-1">
            <div>
            
                <div class="row row-cols-2" id="">
                    <div class="">
                        <label for="tipo" class="form-label">Tipo</label>
                        <select class="form-select" id="tipo" name="tipo" required>
                          <option value="">TODO</option>
                          <option value="ROUTER">ROUTER</option>
                          <option value="SWITCH">SWITCH</option>
                          <option value="CONCENTRADOR">CONCENTRADOR</option>
                          <option value="PROYECTOR">PROYECTOR</option>
                          <option value="IMPRESORA">IMPRESORA</option>
                          <option value="MULTIFUNCIONAL">MULTIFUNCIONAL</option>
                        </select>
                    </div>

                    <div>
                        <br>
                        <a class="btn btn-primary" href="">
                            Generar Reporte
                        </a>
                    </div>
                </div>
             </div>          
        </div>
  </div>
</body>