<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
  <div class="album py-5 bg-dark vh-100">
    <div class="bg-white p-5 rounded-5 container">
        <a href="/reportes/reportesusuarios" class="d-flex" aria-current="true">
            <i class="bi-arrow-left-circle" style="font-size: 2rem; color: #000000;"></i>
        </a>
       <h4 class="text-center fw-bold mb-2 text-uppercase">Reportes</h4>
       <h3 class="text-center fw-bold mb-2 text-uppercase">Personal del laboratorio</h3>
       <hr>
       <p class="mb-0 opacity-65">Selecciona las opciones que desees y genera reportes sobre el personal del laboratorio de cómputo.</p>
       <hr>
    <div class="row row-cols-2">
        <div class="col-sm-6">
            <label for="clave" class="form-label">Departamento: </label>
                        <select class="form-select" id="carrera" name="carrera" required>
                          {{#each dep}}
                                <option value="{{iddepto}}">{{departamento}}</option>
                          {{/each}} 
                        </select>
        </div>
  </div>
  <br>
        <div class="row row-col-5 ">
            <label class="col-sm-2"></label>
            <label class="col-sm-3"></label>
            <a class="btn btn-primary btn-sm d-flex justify-content-center" style="width: 8rem;">Generar reporte</a>
            <label class="col-sm-4"></label>
            <label class="col-sm-4"></label>
        </div>
</body>