<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
  <div class="album py-5 bg-dark vh-100">
    <div class="bg-white p-5 rounded-5 container">
        <a href="/reportes/reportesusuarios" class="d-flex" aria-current="true">
            <i class="bi-arrow-left-circle" style="font-size: 2rem; color: #000000;"></i>
        </a>
       <h4 class="text-center fw-bold mb-2 text-uppercase">Reportes</h4>
       <h3 class="text-center fw-bold mb-2 text-uppercase">Personal</h3>
       <hr>
       <p class="mb-0 opacity-65">Genera reportes sobre el personal del laboratorio de cómputo y administrativos.</p>
       <hr>

    <div class="row row-cols-2">
        <div class="col-sm-6">
             <label for="clave" class="form-label">Personal del laboratorio: </label>
            <a class="btn btn-primary d-flex justify-content-center" style="width: 10rem;">Generar reporte</a>
        </div>
        <div class="col-sm-6">
             <label for="clave" class="form-label">Personal administrativo: </label>
            <a class="btn btn-primary d-flex justify-content-center" style="width: 10rem;">Generar reporte</a>
        </div>
  </div>
  <br>
</body>