<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
  <div class="album py-5 bg-dark vh-100">
    <div class="bg-white p-5 rounded-5 container">
        <a href="/menureportes" class="d-flex" aria-current="true">
            <i class="bi-arrow-left-circle" style="font-size: 2rem; color: #000000;"></i>
        </a>
       <h4 class="text-center fw-bold mb-2 text-uppercase">menú</h4>
       <h3 class="text-center fw-bold mb-2 text-uppercase">Reportes sobre prácticas</h3>
        <div class="list-group w-auto">
            <a href="/reportes/" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-people-fill" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Practicas no programadas</h6>
                    <p class="mb-0 opacity-65">Selecciona las opciones deseadas y genera reportes sobre las practicas no programadas.</p>
                </div>
                </div>
            </a>
            <a href="/reportes/" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-mortarboard-fill" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Practicas programadas por semestre</h6>
                    <p class="mb-0 opacity-65">Genera reportes sobre los docentes de la institución</p>
                </div>
                </div>
            </a>
            <a href="/reportes/" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-person-vcard" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Practicas programadas por rango de fechas</h6>
                    <p class="mb-0 opacity-65">Genera reportes sobre el personal encargado del laboratorio de cómputo y del personal administrativo</p>
                </div>
                </div>
            </a>
            <a href="" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-person-badge" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Perfiles del sistema</h6>
                    <p class="mb-0 opacity-65">Genera reportes sobre las credenciales de usuarios del sistema.</p>
                </div>
                </div>
            </a>
          
    </div>
  </div>
</body>