<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-5 rounded-5 container">
      <h2 class="text-center fw mb-2 text-uppercase">Control de alumnos</h2>
        <h4 class="fw mb-3 text-uppercase">Agregar nuevo estudiante</h4>
        <form class="needs-validation" action="/inventarios/agregar_alumno" method="POST">
            <h5 class="fw mb-2">Ingresa los datos del estudiante</h5>
            <div class="row row-cols-2">            
                    <div class="mb-3">
                        <label for="nocontrol" class="form-label">No. de control: </label>
                        <input type="text" class="form-control" id="nocontrol" name="nocontrol" required maxlength="9" minlength="8" pattern="T?[0-9]+" onkeyup="this.value = this.value.toUpperCase();"
                        title="El número de control solo pueden tener 8 caracteres núericos y en caso de los alumnos de traslado la letra 'T' al inicio">
                        <div id="nocontrolHelp" class="form-text">Ingrese el numero de control del estudiante.</div>
                    </div>

                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre(s): </label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required onkeyup="this.value = this.value.toUpperCase();">
                        <div id="nombreHelp" class="form-text">Ingrese el/los nombre/s del estudiante.</div>
                    </div>

                    <div class="mb-3">
                        <label for="apellidop" class="form-label">Apellido Paterno: </label>
                        <input type="text" class="form-control" id="apellidop" name="apellidop" required onkeyup="this.value = this.value.toUpperCase();">
                        <div id="apellidopHelp" class="form-text">Ingrese el apellido paterno del estudiante.</div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="apellidom" class="form-label">Apellido Materno: </label>
                        <input type="text" class="form-control" id="apellidom" name="apellidom" required onkeyup="this.value = this.value.toUpperCase();">
                        <div id="apellidomHelp" class="form-text">Ingrese el apellido materno del estudiante.</div>
                    </div>

                    <div class="mb-3">
                        <label for="carrera" class="form-label">Carrera: </label>
                         <select class="form-select form-select-lg mb-3"  name="idcarrera" aria-label=".form-select-lg example" id="idcarrera">
                            {{#each carreras}}
                                <option value="{{idcarrera}}">{{nombre}}</option>
                            {{/each}}
                         </select>
                        <div id="noinvHelp" class="form-text">Ingrese la carrera a la que pertenece.</div>
                    </div>

                    <div class="mb-3">
                        <label for="semestre" class="form-label">Semestre: </label>
                        <select class="form-select form-select-lg mb-3" name="semestre" aria-label=".form-select-lg example" id="tipo">
                            <option value="1">1°</option>
                            <option value="2">2°</option>
                            <option value="3">3°</option>
                            <option value="4">4°</option>
                            <option value="5">5°</option>
                            <option value="6">6°</option>
                            <option value="7">7°</option>
                            <option value="8">8°</option>
                            <option value="9">9°</option>
                            <option value="10">10°</option>
                            <option value="11">11°</option>
                            <option value="12">12°</option>
                            <option value="13">13°</option>
                         </select>
                        <div id="noinvHelp" class="form-text">Ingrese el semestre que cursa el estudiante.</div>
                    </div>
                
                    <div class="mb-3">
                        <label for="status" class="form-label">Status: </label>
                        <select class="form-select" aria-label="Default select example" name="status" for="status">
                            <option value="ALTA">ALTA</option>
                            <option value="BAJA">BAJA</option>
                        </select>
                    </div>
                    <div>
                    </div>
            </div>
            
            <button type="submit" class="btn btn-primary d-flex justify-content-center">¡Listo!</button>
          </form>
    </div>
  </body>

  <script>
    nocontrol.addEventListener("keudown", e => {
        let string = e.target.value;
        e.target.value = string.trim();
    });
    espacios.addEventListener("keyup", e => {
        let string = e.target.value;
        e.target.value = string.trimEnd();
        e.target.value = string.trimStart();
    })
  </script>