<body class="bg-light">
    
<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/imagenes/usuario.png" alt="" width="72" height="57">
      <h2>Control de alumnos</h2>
    </div>

    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Agregar nuevo alumno</h4>
        <form class="needs-validation" action="/inventarios/usuarios/agregar_alumno" method="POST">
          <div class="row g-3">

            <div class="col-sm-6">
              <label for="notarjeta" class="form-label">No. Control: </label>
              <input type="text" class="form-control" name="nocontrol" placeholder="" value="" required>
              <div class="invalid-feedback">
                Se requiere un número de tarjeta.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="nombrepersona" class="form-label">Nombre(s) </label>
              <input type="text" class="form-control" name="nombre" placeholder="" value="" required>
              <div class="invalid-feedback">
                Se requiere un nombre.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="ap_p" class="form-label">Apellido Paterno</label>
              <input type="text" class="form-control" name="apellidop" placeholder="" value="" required>
              <div class="invalid-feedback">
                Se requiere un apellido.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="ap_m" class="form-label">Apellido Materno</label>
              <input type="text" class="form-control" name="apellidom" placeholder="" value="" required>
              </div>
              <div class="invalid-feedback">
                Se requiere un apellido.
              </div>
            </div>

            <!-- atributos de alumnos -->
            <div class="">
              <div class="col-sm-6">
              <label for=" " class="form-label">Carrera: </label>
              <select class="form-select" name="idcarrera" required>
                  {{#each carreras}}
                    <option value="{{IDCARRERA}}">{{CARRERA}}</option>
                  {{/each}} 
              </select>
              <div class="invalid-feedback">
                Selecciona alguno de los tipos válidos. 
              </div>
            </div>
            
            <div class="">
              <div class="col-sm-6">
              <label for=" " class="form-label">Semestre: </label>
              <select class="form-select" name="semestre" required>
                 <option value="1">1°</option>
                 <option value="2">2°</option>
                 <option value="3">3°</option>
                 <option value="4">4°</option>
                 <option value="5">5°</option>
                 <option value="6">6°</option>
                 <option value="7">7°</option>
                 <option value="8">8°</option>
                 <option value="9">9°</option>
                 <option value="10">10°</option>
                 <option value="11">11°</option>
                 <option value="12">12°</option>
              </select>
              <div class="invalid-feedback">
                Selecciona alguno de los tipos válidos. 
              </div>
            </div>
           

          <hr class="my-4">
          </div>
          <button class="w-100 btn btn-primary btn-lg">Registrar alumno</button>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">2022 Control de acceso al laboratorio de computo ITO</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>