<body class="bg-light">
    
<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="../../public/imagenes/usuario.png" alt="" width="72" height="57">
      <h2>Control de usuarios</h2>
    </div>

    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Modificar usuario</h4>
        <form class="needs-validation" novalidate action="/usuarios/editar/{{usuario.user}}" method="POST">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="notarjeta" class="form-label">No. Control: </label>
              <input type="text" class="form-control" name="user" placeholder="" value="{{usuario.user}}" required>
              <div class="invalid-feedback">
                Se requiere un número de tarjeta.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="password" class="form-label">Contraseña:  </label>
              <input type="password" class="form-control" name="password" placeholder="" value="" required>
              <div class="invalid-feedback">
                Se requiere una Contraseña.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="nombrepersona" class="form-label">Nombre(s) </label>
              <input type="text" class="form-control" name="nombrepersona" placeholder="" value="" required>
              <div class="invalid-feedback">
                Se requiere un nombre.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="ap_p" class="form-label">Apellido Paterno</label>
              <input type="text" class="form-control" name="ap_p" placeholder="" value="" required>
              <div class="invalid-feedback">
                Se requiere un apellido.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="ap_m" class="form-label">Apellido Materno</label>
              <input type="text" class="form-control" name="ap_m" placeholder="" value="" required>
              </div>
              <div class="invalid-feedback">
                Se requiere un apellido.
              </div>
            </div>

            <div class="col-12">
              <label for=" " class="form-label">Tipo</label>
              <select class="form-select" onchange="select()" name="tipopersona" id="tipopersona"required>
                <option value="Docente"=>Docente</option>
                <option value="Auxiliar">Auxiliar</option>
              </select>
              <div class="invalid-feedback">
                Selecciona alguno de los tipos válidos. 
              </div>
            </div>

                <div class="d-none" id="auxiliar">
                  <div class="col-sm-6">
                    <label for=" " class="form-label">Turno</label>
                    <select class="form-select" name="turno" required>
                      <option value="">Elegir...</option>
                      <option value="Matutino"> Matutino </option>
                      <option value="vespertino"> Vespertino </option>
                    </select>
                    <div class="invalid-feedback">
                      Selecciona alguno de los tipos válidos. 
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <label for=" " class="form-label">Puesto</label>
                    <select class="form-select" name="puesto" required>
                      <option value="">Elegir...</option>
                      <option value="Encargado"> Encargado </option>
                      <option Value="Auxiliar"> Auxiliar </option>
                    </select>
                    <div class="invalid-feedback">
                      Selecciona alguno de los tipos válidos. 
                    </div>
                  </div>
                 </div>
         

            <!-- opciones de docente -->
            <div class="" id="docente">
              <div class="col-sm-6">
              <label for=" " class="form-label">Departamento</label>
              <select class="form-select" name="departamento" required>
                  {{#each departamentos}}
                    <option value="{{iddepto}}">{{departamento}}</option>
                  {{/each}} 
              </select>
              <div class="invalid-feedback">
                Selecciona alguno de los tipos válidos. 
              </div>
            </div>
            
           <!-- opciones de personal -->
               

                <hr class="my-4">
                </div>
                <button class="w-100 btn btn-primary btn-lg">Registrar usuario</button>
              </form>
            </div>
      </div>
   </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">2022 Control de acceso al laboratorio de computo ITO</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>

<script>
    function select(){
        var tipousuario = document.getElementById("tipopersona").value;

        if(tipousuario == "Docente"){
            document.getElementById("docente").className = "";
            document.getElementById("auxiliar").className = "d-none";
        }else if(tipousuario == "Auxiliar"){
             document.getElementById("auxiliar").className = "";
             document.getElementById("docente").className = "d-none";
        }
    } 
</script>