<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img src="../imagenes/logo ITO.png" class="bi me-2" width="70" height="70" ></img>
      <span class="fs-4">Inicio</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="" class="nav-link bi bi-house text-md-center" aria-current="page"><br> Inicio</a></li>
      <li class="nav-item"><a href="#" class="nav-link bi bi-calendar-plus text-md-center"><br> Prácticas</a></li>
      <li class="nav-item dropdown text-md-center"><a href="#" class="bi bi-person text-md-center"><br>Usuarios
      <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false"></a></a> 
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/links/alumnos">Alumnos registrados</a></li>
          <li><a class="dropdown-item" href="/links/usuarios/agregar_alumno">Agregar alumno</a></li>
          <li><a class="dropdown-item" href="/usuarios/agregar_usuario">Agregar usuario</a></li>
          <li><a class="dropdown-item" href="/usuarios/">Usuarios registrados</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown text-md-center"> <a href="#" class="bi bi-pc-display text-md-center"><br> Inventario
       <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false"></a></a> 
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/links/inventarios">Listar equipos</a></li>
          <li><a class="dropdown-item" href="/links/inventarios/agregar_dispositivo">Agregar equipos</a></li>
        </ul>
      </li>
    </ul>
  </header>
</div>