{{#if user}}
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/home">
        <img src="/../imagenes/logo.png" width="30" height="30">
        Laboratorio de cómputo
        </a>
      </div>      
      <div class="offcanvas offcanvas-start text-bg-dark" style="width: 220px;" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h3 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menú</h3>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-3" >
          <ul class="list-group list-group-flush">
            <li class="mb-1">
              <button class="btn btn-toggle d-inline-flex align-items-center text-light rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                Gestion de prácticas
              </button>
              <div class="collapse" id="home-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-secondary d-inline-flex text-light text-decoration-none rounded">Practicas programadas</a></li>
                  <li><a href="/practicas/nueva_pactica" class="link-secondary d-inline-flex text-light text-decoration-none rounded">Programar práctica</a></li>
                  <li><a href="#" class="link-secondary d-inline-flex text-light text-decoration-none rounded">Practicas no programadas</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle d-inline-flex align-items-center text-light rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#inventario-collapse" aria-expanded="false">
                Inventario
              </button>
              <div class="collapse" id="inventario-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="/inventarios/listar_equipos" class="link-secondary d-inline-flex text-light text-decoration-none rounded">Lista de equipos de cómputo</a></li>
                  <li><a href="/inventarios/agregar_pc" class="link-secondary d-inline-flex text-light text-decoration-none rounded">Registrar equipo de cómputo</a></li>
                  <li><a href="/inventarios/listar_perifericos" class="link-secondary d-inline-flex text-light text-decoration-none rounded">Lista de insumos</a></li>
                  <li><a href="/inventarios/agregar_periferico" class="link-secondary d-inline-flex text-light text-decoration-none rounded">Registrar insumos</a></li>
                  <li><a href="/inventarios/dispositivos_auxiliares" class="link-secondary d-inline-flex text-light text-decoration-none rounded">Listar dispositivos</a></li>
                  <li><a href="/inventarios/nuevo_dispositivoaux" class="link-secondary d-inline-flex text-light text-decoration-none rounded">Registrar dispositivos</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle d-inline-flex align-items-center text-light rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                Materias y grupos
              </button>
              <div class="collapse" id="dashboard-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="/practicas/materias" class="link-secondary d-inline-flex text-light text-decoration-none rounded">Listar materias</a></li>
                  <li><a href="/practicas/agregar_materia" class="link-secondary d-inline-flex text-light text-decoration-none rounded">Nueva materia</a></li>
                  <li><a href="/practicas/carreras" class="link-secondary d-inline-flex text-light text-decoration-none rounded">Listar carreras</a></li>
                  <li><a href="/practicas/agregar_carrera" class="link-secondary d-inline-flex text-light text-decoration-none rounded">Nueva carreras</a></li>
                  
                  <li><a href="/practicas/departamentos" class="link-secondary d-inline-flex text-light text-decoration-none rounded">Listar departamentos</a></li>
                  <li><a href="/practicas/agregar_departamento" class="link-secondary d-inline-flex text-light text-decoration-none rounded">Nuevo departamento</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle d-inline-flex align-items-center text-light rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#usuarios-collapse" aria-expanded="false">
                Gestion de usuarios
              </button>
              <div class="collapse" id="usuarios-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="/inventarios/usuarios/agregar_alumno" class="link-secondary d-inline-flex text-light text-decoration-none rounded">Registrar alumno</a></li>
                  <li><a href="/inventarios/alumnos" class="link-secondary d-inline-flex text-light text-decoration-none rounded">Listar alumnos</a></li>
                
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  {{/if}}
<link href="/src/public/bootstrap/css/bootstrap.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

