<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img src="../imagenes/logo ITO.png" class="bi me-2" width="70" height="70" ></img>
      <span class="fs-4">Inicio</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active bi bi-house text-md-center" aria-current="page"><br> Inicio</a></li>
      <li class="nav-item"><a href="#" class="nav-link bi bi-gear text-md-center"><br> Configuraciones</a></li>
      <li class="nav-item"><a href="#" class="nav-link bi bi-person text-md-center"><br> Usuario</a></i></li>
      <li class="nav-item"><a href="#" class="nav-link bi bi-egg-fried text-md-center"><br> Acerca de</a></li>
    </ul>
  </header>
</div>