<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-5 rounded-5 container">
        <h2 class="text-center fw mb-2 text-uppercase">Horario del Laboratorio</h2>

        <div class="row g-3 justify-content-center">
        <div class="col-sm-4">
            <a href="" class="list-group-item list-group-item-action d-flex justify-content-end gap-3 py-3" aria-current="true">
                <i class="bi-arrow-left-circle-fill" style="font-size: 2rem; color: #212bbe;"></i>
            </a>
        </div>
        <div class="mb-3 col-sm-4 ">
            <label for="fecha" class="form-label">Fecha: </label>
            <input type="date" class="form-control" id="fecha" name="fecha" value="">
            <div id="fechaHelp" class="form-text">Ingrese la fecha de la que desee consultar.</div>
        </div>
        <div class="col-sm-4">
            <a href="" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <i class="bi-arrow-right-circle-fill" style="font-size: 2rem; color: #212bbe;"></i>
            </a>
        </div>
    </div>

    <div>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col" class="text-center">Hora</th>
                    <th scope="col" class="text-center">Usuarios 1</th>
                    <th scope="col" class="text-center">Usuarios 2</th>
                    <th scope="col" class="text-center">Usuarios 3</th>
                    <th scope="col" class="text-center">Usuarios 4</th>
                    <th scope="col" class="text-center">Lab. Redes</th>
                    <th scope="col" class="text-center">Lab. BD</th>                                                
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="text-center" scope="row"></td>
                        
                    </tr>

                 
                
            </tbody>
        </table> 
    </div> 
</body>