<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-5 rounded-5 container">
      <h2 class="text-center fw mb-2 text-uppercase">Control de Practicas</h2>
        <h4 class="text-center fw mb-3 text-uppercase">Agendar práctica</h4>
        <form class="needs-validation" action="" method="POST">
            <h5 class="fw mb-2">Ingresa los datos de la practica</h5>
            <div class="row row-cols-2">            
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre de la práctica: </label>
                        <input type="text" class="form-control" id="nombre" required onkeyup="this.value = this.value.toUpperCase();">
                        <div id="nombreHelp" class="form-text">Ingrese un nombre para la práctica a realizar.</div>
                    </div>

                    <div class="mb-3">
                        <label for="grupo" class="form-label">Grupo: </label>
                        <input type="text" class="form-control" id="grupo" required onkeyup="this.value = this.value.toUpperCase();">
                        <div id="nombreHelp" class="form-text">Ingrese el numero de inventario proporcionado por la institución.</div>
                    </div>

                    <div class="mb-3">
                        <label for="fecha" class="form-label">Fecha: </label>
                        <input type="text" id="datetimepicker4" readonly/>
                        <div id="marcaHelp" class="form-text">Ingrese la marca del dispositivo.</div>
                    </div>
                
          </div>
            <button type="submit" class="btn btn-primary d-flex justify-content-center">¡Listo!</button>
          </div>      
        </form>
      </div>
    </div>
  </main>

