<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-5 rounded-5 container">
      <h2 class="text-center fw mb-2 text-uppercase">Control de inventario</h2>
        <h4 class="text-center fw mb-3 text-uppercase">Registro de insumos</h4>
        <form class="needs-validation" action="" method="POST">
            <h5 class="fw mb-2">Ingresa los datos del material</h5>
            <div class="row row-cols-2">            
                    <div class="mb-3">
                        <label for="noserie" class="form-label">No. de serie: </label>
                        <input type="text" class="form-control" id="noserie" required onkeyup="this.value = this.value.toUpperCase();">
                        <div id="noserieHelp" class="form-text">Ingrese el numero de serie que incluye el equipo.</div>
                    </div>

                    <div class="mb-3">
                        <label for="noinv" class="form-label">Numero de inventario: </label>
                        <input type="text" class="form-control" id="noinv" required onkeyup="this.value = this.value.toUpperCase();">
                        <div id="noinvHelp" class="form-text">Ingrese el numero de inventario proporcionado por la institución.</div>
                    </div>

                     <div class="mb-3">
                        <label for="tipo" class="form-label">Tipo</label>
                        <select class="form-select" id="tipo" name="tipo" required>
                          <option value="MOUSE">MOUSE</option>
                          <option value="TECLADO">TECLADO</option>
                          <option value="MONITOR">MONITOR</option>
                        </select>
                        <div class="invalid-feedback">
                          <div id="areaHelp" class="form-text">Ingrese el tipo de equipo a agregar.</div>
                        </div>
                    </div>

            <div class="col-sm-6">
              <label for="tipo" class="form-label">Marca</label>
              <input type="text" class="form-control" id="marca" required onkeyup="this.value = this.value.toUpperCase();">
              <div class="invalid-feedback">
                Introduce una marca
              </div>
            </div>
          </div>
            <button type="submit" class="btn btn-primary d-flex justify-content-center">¡Listo!</button>
          </div>
          
        </form>
      </div>
    </div>
  </main>